rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Only allow access to the lagkassa collection
    match /lagkassa/{docId} {
      allow read, write: if true;
    }

    // Block everything else
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
